{% extends 'master.html' %}

{% block title %} Chatbook {% endblock title %}

{% block container %}
    <div class="container">
        <!-- <aside class="sidebar">
            <h3>Sidebar</h3>
            <ul>
                <li><i class="fa-solid fa-user"></i><a href="#profile">Profile</a></li>
                <li><i class="fa-solid fa-users"></i><a href="#friends">Friends</a></li>
                <li><i class="fa-solid fa-users-line"></i><a href="#groups">Groups</a></li>
                <li><i class="fa-solid fa-file-alt"></i><a href="#pages">Pages</a></li>
            </ul>
        </aside> -->
        
        <div class="main-content">

            <div id="feeds" class="post">
                <h2>Feeds</h2>
                <!-- Card 1 -->
                <div class="card">
                    <div class="card-header">
                        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="user-info">
                            <h3>John Doe</h3>
                            <p>2 hrs ago</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>This is a sample post. Here is some content for the feed card.</p>
                        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" alt="Post Image" class="post-image">
                    </div>
                    <div class="card-actions">
                        <button><i class="fa-solid fa-thumbs-up"></i> Like</button>
                        <button><i class="fa-solid fa-comment"></i> Comment</button>
                        <button><i class="fa-solid fa-share"></i> Share</button>
                    </div>
                </div>
            
                <!-- Card 2 -->
                <div class="card">
                    <div class="card-header">
                        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="user-info">
                            <h3>John Doe</h3>
                            <p>2 hrs ago</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>This is a sample post. Here is some content for the feed card.</p>
                        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" alt="Post Image" class="post-image">
                    </div>
                    <div class="card-actions">
                        <button><i class="fa-solid fa-thumbs-up"></i> Like</button>
                        <button><i class="fa-solid fa-comment"></i> Comment</button>
                        <button><i class="fa-solid fa-share"></i> Share</button>
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-header">
                        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="user-info">
                            <h3>John Doe</h3>
                            <p>2 hrs ago</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <p>This is a sample post. Here is some content for the feed card.</p>
                        <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_0.jpg" alt="Post Image" class="post-image">
                    </div>
                    <div class="card-actions">
                        <button><i class="fa-solid fa-thumbs-up"></i> Like</button>
                        <button><i class="fa-solid fa-comment"></i> Comment</button>
                        <button><i class="fa-solid fa-share"></i> Share</button>
                    </div>
                </div>
            
                <!-- More cards can be added similarly -->
            </div>
            
        <!-- <aside class="sidebar">
            <h3>Sidebar</h3>
            <ul>
                <li><i class="fa-solid fa-user"></i><a href="#profile">Profile</a></li>
                <li><i class="fa-solid fa-users"></i><a href="#friends">Friends</a></li>
                <li><i class="fa-solid fa-users-line"></i><a href="#groups">Groups</a></li>
                <li><i class="fa-solid fa-file-alt"></i><a href="#pages">Pages</a></li>
            </ul>
        </aside> -->

    </div>
{% endblock container %}
